#nav ul {
	flex-direction: row;
	display: flex;
	font-size: 2rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	list-style: none;
	padding-left: 0;
}

#nav ul li {
	margin-right: 1.5rem;
	cursor: pointer;
	transition: 0.3s ease-in-out 0s;
}

li.active {
	color: lightskyblue;
	transition: 0.3s ease-in-out 0s;
}
