header {
	display: flex;
	flex-direction: column;
	margin-bottom: 3.5rem;
}

header h1 {
	margin-bottom: 2.5rem;
	font-size: 3rem;
	margin-top: 0;
}

header #bio-description {
	display: flex;
	flex-direction: row;
}

#bio-description img {
	border-radius: 50%;
	height: 3.5rem;
	width: 3.5rem;
	margin-right: 0.875rem;
	margin-bottom: 0px;
}

#bio-description p {
	margin-top: 0;
	height: 56px;
}

#head {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
